@import "~antd/dist/antd.css";

* {
  padding: 0;
  margin: 0;
}

/*login page css styles start*/
.layout {
  height: 100vh;
  min-height: 550px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loginCard {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
}
/*login page css styles end*/

/*navbar css styles end*/
.navbar {
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user {
  display: flex;
  align-items: baseline;
}

.logo {
  background-image: url("./images/logo.png");
  width: 160px;
  height: 54px;
}
/*navbar css styles end*/

/*package card css styles start*/
.packageList {
  border-radius: 14px;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  overflow: hidden;
  height: 77vh;
}

.packageCard {
  background-color: #f2f2f2;

  display: flex;
  align-items: center;
  max-width: 450px;
  outline: 2px solid rgba(211, 209, 209, 0.667);  
  border-radius: 14px;
  overflow: hidden;
}
.packageCardSelected {
  background-color: #f2f2f2; 
  display: flex;
  align-items: center;
  max-width: 450px;
  outline: 2px solid green;  
  border-radius: 14px;
  overflow: hidden;
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 12px 0;
  width: 80%;
}
.tags {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.titleCard {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin: 15px auto;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*package card css styles end*/

/*result css styles start*/

.result {
  height: 91vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.resultCard {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*result css styles end*/

/*payment css styles start*/
.paymentCard {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
}

.contract {
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding: 20px;
  margin: 10px auto;
}

.paymentArea {
  display: flex;
  justify-content: center;
  height: 91vh;
  margin: 60px auto;
}
.paymentAreaColumn {
  display: flex;
  justify-content: space-evenly;
}

.creditCardInfo {
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding: 20px;
  margin: 10px auto;
}

.creditCardInfoBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.packageInTheBasket {
  background-color: #f2f2f2;
  border-radius: 8px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin: 10px auto;
}
/*payment css styles end*/
